{% extends 'index.html' %}

{% block head_title %}{% if name %}{{ name }}{% endif %} Badge Classes{% endblock %}

{% block main %}
<div class="container">
 <div class="panel panel-default">
  <h1>Open Badge Classes</h1>
 </div>
 <div class="row">
   <section class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <h2>Existing Badge Classes</h2>
      <ul>
      {% for row in badges %}
        <li><a href="/BadgeClass/{{ row.get('altName').get('value') }}">{{ row.get('name').get('value') }}</a></li>
      {% endfor %}
      
      </ul>
     </div> 
    </div>
   </section>
   <section class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Badge Class</h3>
      </div>
      <div class="panel-body">
       <p class="lead">Create a New Badge Class for your event</p>
       <form method="POST" action="{{ url_for('open_badge.add_badge_class') }}">
       <div class="row form-group">
        <section class="col-md-8">
          <label>{{ form.name.label }}</label>
          {{ form.name(class_='form-control') }}
        </section>
       </div>
       <div class="row form-group">
        <section class="col-md-8">
          <label>{{ form.description.label }}</label>
          {{ form.description(class_='form-control') }}
        </section>
       </div>
       <div class="row form-group">
        <section class="col-md-6">
          <label>{{ form.startDate.label }}</label>
          {{ form.startDate(class_='form-control') }}
        </section>
        <section class="col-md-6">
          <label>{{ form.endDate.label }} </label>
          {{ form.endDate(class_='form-control') }}
        </section>
       </div>
       <div class="row form-group">
        <section class="col-md-5">
          <label>{{ form.image_file.label }}</label>
          {{ form.image_file(class_='btn btn-upload') }}
        </section>
        <section class="col-md-1">
           <h3>OR</h3>
        </section>
        <section class="col-md-6">
          <label>{{ form.image_url.label }}</label>
          {{ form.image_url(class_='form-control') }}
        </section>
       </div>
       <div class="row form-group">
        <section class="col-md-4">
          <label>{{ form.criteria.label }}</label>
        </section>
        <section class="col-md-8">
          {{ form.criteria(class_='form-control') }}
        </section>
       </div>
       <div class="row form-group">
        <section class="col-md-4">
          <label>{{ form.tags.label }}</label>
          <p class="pull-right">Separate tags by commas</p>
          
        </section>
        <section class="col-md-8">
          {{ form.tags(class_='form-control') }}
        </section>
       </div>
       <div class="row">
         <section class="col-md-6 col-md-offset-5">
           <input type="submit" class="btn btn-success"></input>
         </section>
       </div>
      </form>
      </div>
    </div>
   </section>
 </div>
<div>
{% endblock %}
