<div class="row">
	<section class="col-md-6">
		<div class="form-group {{ errorCss }}">	
			<label class="control-label">{{ widget_fld.label }}{% if widget_fld.flags.required and not display_mode %} *{% endif %}</label>
			<div title="{{ widget_fld.description }}" data-toggle="tooltip">
		</div>
	</section>
</div>
<div class="repeating-subform">
{% for entry in widget_fld.entries %}
<div class="row subform-row">
	<section class="col-md-6">
		<div class="form-group {{ errorCss }}">	
			{{ entry(class_=widget_fld.kds_css, disabled=not widget_fld.editable) }}
			{% if entry.errors %}
				<ul class="help-block">{% for error in entry.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}	
		</div>
	</section>
</div>
{% endfor %}
</div>