{% extends 'index.html' %}
{% block view_title %}
	{% if form.rdf_instructions['kds_formTitle'] %}
		{{ form.rdf_instructions['kds_formTitle'] }} - 
	{% endif %}
{% endblock %}
{% block head_title %}{{ form.rdf_instructions['kds_formTitle'] }}{% endblock %}
{% block more_css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}">
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}

<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			{% include "/forms/default/form_panel.html" %}
			<div class="form-group ">
                            <label class="control-label visible-sm visible-xs" for="Recipient-0-claimbadge"> </label>
                            <a href="javascript:;" onclick="formFieldLookup(this)" class="btn btn-xs btn-success" kds_propuri="obi_claimDate" kds_classuri="obi_Assertion" data="03/14/2016" id="Recipient-0-claimbadge">Resend</a>
                            
                        </div>
		</section>
	</div>
<div>

{% endblock %}
{% block more_js %}
<script src="{{ url_for('static', filename='js/framework-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
	{% if display_mode %}
	{% else %}
	$('.dp').datepicker({
		todayBtn: "linked",
    clearBtn: true,
    todayHighlight: true,
    format: "{{ dateFormat }}"
	});	
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	});
	{% endif %}
</script>
{% endblock %}
