<div title="{{ fld.description }}" data-toggle="tooltip">
<div class="checkbox {{ errorCss }}">	
	<label>
		{% if first %}
			{{ fld(disabled=not fld.editable,autofocus="autofocus") }}
			{% set first = False %}
		{% else %}
			{{ fld(disabled=not fld.editable) }}
		{% endif %}
		{{ fld.label }}{% if fld.flags.required and not display_mode %} *{% endif %}
	</label>
	{% if fld.errors %}
		<ul class="help-block">{% for error in fld.errors %}<li>{{ error }}</li>{% endfor %}</ul>
	{% endif %}	
	{% if debug %}
		<div><pre>{{fld.debug_data}}</pre></div>
	{% endif %}
</div>
</div>