<form class="{{ form.rdf_instructions['kds_formCss'] }}" method="{{ form.rdf_instructions['kds_form_Method'] }}" action="{{ actionUrl }}" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{% include "/forms/default/form_row.html" %}
	<div class="row">
		<section class="col-md-6 col-md-offset-5">
		{% if form.instance_uri == 'kdr_DisplayForm' %}
			{% if form.edit_path %}
			<a class="btn btn-success" href="{{ form.edit_path }}" role="button">Edit</a>
			{% endif %}
			<a class="btn btn-default" href="/" role="button">Close</a>
		{% elif form.instance_uri == 'kdr_EditForm' %}
			<input type="submit" class="btn btn-success"></input>
			<a class="btn btn-default" href="{{ form.display_path }}" role="button">Cancel</a>
		{% elif form.instance_uri == 'kdr_NewForm' %}
			<input type="submit" class="btn btn-success"></input>
			<a class="btn btn-default" href="/" role="button">Cancel</a>
		{% elif form.instance_uri == 'kdr_Login' %}
			<input type="submit" class="btn btn-success" value="Sign in"></input>
			<a class="btn btn-default" href="/" role="button">Cancel</a>
		{% endif %}
			
		</section>
	</div>
</form>