<div class="form-group {{ errorCss }}">	
	<label class="control-label">{{ fld.label }}{% if fld.flags.required and not display_mode %} *{% endif %}</label>
	<div title="{{ fld.description }}" data-toggle="tooltip">
	{% for entry in fld.entries %}
		{% if first %}
			{{ entry(class_=entry.kds_css,disabled=not entry.editable,autofocus="autofocus") }}
			{% set first = False %}
		{% else %}
			{{ entry(class_=entry.kds_css,disabled=not entry.editable) }}
		{% endif %}
		</div>
		{% if entry.errors %}
			<ul class="help-block">{% for error in entry.errors %}<li>{{ error }}</li>{% endfor %}</ul>
		{% endif %}	
	{% endfor %}
	{% if debug %}
		<div><pre>{{fld.debug_data}}</pre></div>
	{% endif %}
</div>