{% extends 'index.html' %}
{% block view_title %}
	{{item_type}}-{{title['bf_mainTitle']}}
{% endblock %}
{% block head_title %}Institutions{% endblock %}
{% block more_css %}
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}

<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			<div>
				<h1>{{item_type}}</h1>
				<h2>{{title['bf_mainTitle']}}</h2>
				<h3>{{title['bf_subtitle']}}</h3>    
				<pre>{{ item | pjson }}</pre>
			</div>
		</section>
	</div>
        
<div>

{% endblock %}
{% block more_js %}
{% endblock %}




