
	<div class="panel-group" id="prop_accordion{{ count }}" role="tablist" aria-multiselectable="true">
	{% set first = False %}
	{% set prop_count = 0 %}
	{% for key, prop in props.items() %}
		{% if key in obj['kds_primaryKey'] or prop['kds_requiredByDomain'] %}
			{% set panel_css = "panel-danger" %}
			{% set add_on_txt = " - <small>Required</small>" %}
		{% else %}
			{% set panel_css = "panel-success" %}
			{% set add_on_txt = "" %}
		{% endif %}
		<div class="panel {{ panel_css }}">
			<div class="panel-heading" role="tab" id="heading{{ count }}_{{ prop_count }}">
				<h6 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#prop_accordion{{ count }}" href="#{{ key + count|string}}_{{ prop_count }}" aria-expanded="false" aria-controls="{{ key + count|string}}_{{ prop_count }}">
					{{ key }}{{ add_on_txt|safe }}
					</a>
				</h6>
			</div>
			<div id="{{ key + count|string}}_{{ prop_count }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ count }}_{{ prop_count }}">
				<div class="panel-body">
					<pre>{{ prop|pjson }}</pre>
				</div>
			</div>
		</div>
		{% set prop_count = prop_count + 1 %}
	{% endfor %}
	</div>


				



