{% extends 'index.html' %}
{% block view_title %}
	App Definitions
{% endblock %}
{% block head_title %}App Definitions{% endblock %}
{% block more_css %}
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}

<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			<div>
				<!-- Nav tabs -->
				{% set first = True %}
				<ul class="nav nav-tabs" role="tablist">
					{% for def in defs %}
					<li role="presentation" {% if first %}class="active"{% endif %}><a href="#{{ def['id'] }}" aria-controls="{{ def['id'] }}" role="tab" data-toggle="tab">{{ def['name'] }}</a></li>
					{% set first = False %}
					{% endfor %}
				</ul>	
				<!-- Tab panes -->
				{% set first = True %}
				<div class="tab-content">
					{% set count = 0 %}
					{% set accordcount = 0 %}
					{% for def in defs %}
					<div role="tabpanel" class="tab-pane{% if first %} active{% endif %}" id="{{ def['id'] }}">
						<p></p>
						<div class="panel-group" id="accordion{{ accordcount }}" role="tablist" aria-multiselectable="true">
						{% set first = False %}
						{% for key, value in def['data'].items() %}			
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading{{ count }}">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion{{ accordcount }}" href="#{{ key|slugify + count|string}}" aria-expanded="false" aria-controls="{{ key|slugify + count|string}}">
										{{ key }}
										</a>
									</h4>
								</div>
								<div id="{{ key|slugify + count|string}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ count }}">
									<div class="panel-body">
										{% if value['kds_properties'] %}
											
											{% set new_value = value|separate_props %}
											{% set props = new_value['kds_properties'] %}
											{% set obj = new_value['obj'] %}
											{% if new_value['kds_properties']|is_list %}
												<h4>kds_properties</h4>
												{% include "/app_defs/properties_as_list_panel.html" %}
											{% else %}
												<p>kds_properties</p>
												{% include "/app_defs/properties_as_dict_panel.html" %}
											{% endif %}
											<pre>{{ new_value['obj']|pjson }}</pre>
										{% else %}
											<pre>{{ value|pjson }}</pre>
										{% endif %}
									</div>
								</div>
							</div>
							{% set count = count + 1 %}
						{% endfor %}
						</div>
						{% set accordcount = accordcount + 1 %}
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
<div>

{% endblock %}
{% block more_js %}
{% endblock %}




