{% extends 'index.html' %}
{% block view_title %}
    Collections View
{% endblock %}
{% block head_title %}Collections{% endblock %}
{% block more_css %}
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}

<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			<div>
				<h1>Select a collection below to browse held items.</h1>
				<div class="list-group">
                                {% for row in collections %}
                                <a href="{{ url_for('bibcat.collection_instances') }}?id={{ row.collection.value }}">{{ row.label.value }}</a>

                                {% endfor %}    
				{# for org in orgs %}
                                    {% if org %}
					<a href="{{ url_for('bibcat.institution_helditem_path') }}?institution={{ org['id']['value'] }}" class="list-group-item"><h1>{{ org['name']['value'] }}</h1></a>
                                    {% endif %}
				{% endfor #}
				</div>	
			</div>
		</section>
	</div>
<div>

{% endblock %}
{% block more_js %}
{% endblock %}
