{% extends 'index.html' %}
{% block view_title %}
    Collections View
{% endblock %}
{% block head_title %}Collection Detail for {{ collection }}{% endblock %}
{% block more_css %}
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}
<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			<h1>{{ collection }} Instances</h1>
                        <ul> 
				{% for item in instances %}
					<li>
						<a href="{{ url_for('bibcat.instance_path') }}?id={{ item['instance']['value'] }}">
                                                    {{ item['label']['value'] }}
                                                </a> by {{ item['instance']['value']|get_creators|safe }}
					</li>
				{% endfor %}
                        </ul>
                </section>
        </div>

{% endblock %}
