{% extends 'index.html' %}
{% block view_title %}
	Instances
{% endblock %}
{% block head_title %}Institutions{% endblock %}
{% block more_css %}
{% endblock %}
{% block main %}
{% if not debug %}{% set debug = False %}{% endif %}
{% if not display_mode %}{% set display_mode = False %}{% endif %}

<div class="container">
	{% include 'snippets/navbar.html' %}
	<div class="row">
		<section class="col-md-12">
			<div>
				<h1>Instances</h1>
				<table class="table table-striped">
					<tr>
						<th>Title</th>
						<th>Identifiers</th>
					</tr>
				{% for item in instances %}
					<tr>
						<td><a href="{{ url_for('bibcat.instance_path') }}?id={{ item['s']['value'] }}">{{ item['title']['value'] }}</a></td>
						<td>{{ item['identifiers']['value'] }}</td>
					</tr>
				{% endfor %}

				</table>
			</div>
		</section>
	</div>
<div>

{% endblock %}
{% block more_js %}
{% endblock %}




